<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tasks ToDo Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body style="background-color:black;">
    <font size="4" face="Courier New" >
    <div class="media">
        <div class="media-body">
        <h1 style="background-color:powderblue;">All ToDo List Tasks</h1>
            <table class="table table-hover"  bgcolor="LightGray">
                <tr>
                    <th style="background-color:#787878;">Sr.</th>
                    <th style="background-color:#696969;">Title</th>
                    <th style="background-color:#696969;">Description</th>
                </tr>
                {% for rows in records%}
                <tr>
                    <td>{{rows.sr_no}}</td>
                    <td>{{rows.title}}</td>
                    <td>{{rows.description}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </font>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>